= simple_form_for([@project,@movement]) do |f|
  = f.error_notification

  =f.input :numero_informe
  =f.input :fecha_informe
  =f.input :rendido_beneficiario
  =f.input :rendido_innova
  =f.input :aprobado_beneficiario
  =f.input :aprobado_innova


  = f.button :submit, "Crear movimiento"
