= simple_form_for([@project,@movement]) do |f|
  .modal-body
    = f.error_notification

    =f.input :numero_informe
    =f.input :fecha_informe
    =f.input :rendido_beneficiario
    =f.input :rendido_innova
    =f.input :aprobado_beneficiario
    =f.input :aprobado_innova
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cerrar
    = f.button :submit, "Guardar movimiento", class: 'btn btn-primary'