.container-narrow
  .masthead
    %h3.muted PAM
  %hr/
  .jumbotron
    %p.lead Proyect Activities Main Dashboard
    %a.btn.btn-success{:href => "#{proyects_path}"} Login
  %hr/
  .footer
    %p StartUp Chile © 2013