=render('layouts/header')
.container
  %h3 Listing Movements

  %table.table.table-bordered
    %tr
      %th Proyect
      %th Ammount
      
    - @movements.each do |movement|
      %tr
        %td= movement.proyect_id.name      
        %td= movement.ammount
  %br