=render('layouts/header')
.page-header
  %h1 Proyectos
.container
  .row
    =render('layouts/menu')
    .col-md-8
      =link_to 'Nuevo Proyecto', new_proyect_path, class: 'btn btn-primary pull-right'

      
      %table.table-condensed{'width' => '100%' }
        %thead
          %tr
            %th Proyecto
            %th Pais
            %th Raise
            %th Industria
        %tbody
          -@proyects.each do |p|
            %tr
              %td=p.name
              %td=p.country
              %td
              %td=p.industry