=render('layouts/header')

.container
  .row
    =render('layouts/menu')
    
    .col-md-9
      .page-header
        .row
          .col-md-10
            %h1 Proyectos
          .col-md-2
            =link_to 'Nuevo Proyecto', new_proyect_path, class: 'btn btn-primary pull-right boton-side'
      
      %table.table-condensed{'width' => '100%' }
        %thead
          %tr
            %th Proyecto
            %th Pais
            %th Raise
            %th Industria
        %tbody
          -@proyects.each do |p|
            %tr
              %td=link_to p.name, proyect_path(p)
              %td=p.country
              %td
              %td=p.industry

    
