=render('layouts/header')

.container
  .row


    .col-md-4
      .col-md-12
        %h4 MOVIMIENTOS
        .panel.panel-default
          .panel-body
            %p
              %h4.centrar TOTAL DE MOVIMIENTOS

          %table.table
            %tbody
              %tr
                %td $ RENDIDO
                %td 
              %tr
                %td $ APROBADO
                %td
              %tr
                %td $ APROBADO INNOVA
                %td
          .panel-body
            =link_to new_proyect_movement_path(@proyect), remote: true, class: 'btn btn-primary btn-block' do 
              Agregar Movimiento
              %i.glyphicon.glyphicon-usd

      .col-md-12
        %h4 ACTIVIDADES
        .panel.panel-default
          .panel-body
            %p
              %h4.centrar PROXIMA REUNION

          %table.table
            %tbody
              %tr
                %td $ RENDIDO
                %td 
              %tr
                %td $ APROBADO
                %td
              %tr
                %td $ APROBADO INNOVA
                %td
          .panel-body
            =link_to new_proyect_activity_path(@proyect), remote: true, class: "btn btn-primary btn-block" do
              Agregar Actividades
              %i.glyphicon.glyphicon-calendar

      .col-md-12
        %h4 CAPITAL LEVANTADO
        .panel.panel-default
          .panel-body

    .col-md-8
      %h4 DETALLES DEL PROYECTO
      .panel.panel-default
        .panel-body
          =render 'information'
 

=render 'layouts/modal'