=render('layouts/header')

.container
  .row
    =render('layouts/menu')

    .col-md-9
      .page-header
        .row
          .col-md-10
            %h1=@proyect.name
          .col-md-2
            =link_to 'Volver Atras', proyects_path, class: 'btn pull-right boton-side'


      .col-md-12
        .col-md-9
          %h3 Movimientos
        .col-md-3
          =link_to 'Agregar Movimiento', new_proyect_movement_path(@proyect), class: 'btn btn-primary pull-right'

        -if @proyect.movements.count > 0
          %table.table-condensed{'width' => '100%' }
            %thead
              %tr
                %th Proyecto
                %th Pais
                %th Raise
                %th Industria
                %th Monto Total        
            %tbody
        -else
          =render 'vacio'

      .col-md-12
        .col-md-9
          %h3 Actividades
        .col-md-3
          =link_to 'Agregar Actividad', new_proyect_activity_path(@proyect), class: 'btn btn-primary pull-right'
        -if @proyect.activities.count > 0
          %table.table-condensed{'width' => '100%' }
            %thead
              %tr
                %th Proyecto
                %th Pais
                %th Raise
                %th Industria
                %th Monto Total        
            %tbody
        -else
          =render 'vacio'
