%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: '/'}=image_tag 'logo_sup.png', class: 'logo'

    %nav.collapse.navbar-collapse{role: "navigation"}
      %ul.nav.navbar-nav
        %li
          =link_to dashboard_path do
            Dashboard
            %i.glyphicon.glyphicon-home 
        %li
          =link_to proyects_path do
            Proyectos
            %i.glyphicon.glyphicon-list
      %ul.nav.navbar-nav.pull-right
        %li=link_to 'Inicia Sesion', entrar_path
