.col-md-4
  %ul.nav.nav.pills.nav.stacked
    %li=link_to 'Inicio', dashboard_path
    %li=link_to 'Proyectos', proyects_path 
    %li=link_to 'Movimientos', movimientos_path
    %li=link_to 'Actividades', actividades_path